{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Contact Form{% endblock %}

{% block content %}
<h1>Issue detail</h1>
<table class="table bordered">
  <tbody>
    <tr>
      <td>Name:</td>
      <td>{{ contact_form.name }}</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>{{ contact_form.email }}</td>
    </tr>
    <tr>
      <td>Subject:</td>
      <td>{{ contact_form.get_subject_display }}</td>
    </tr>
    <tr>
      <td>Message:</td>
      <td>{{ contact_form.message }}</td>
    </tr>
    <tr>
      <td>Status:</td>
      <td>
        <form method="POST" action="{% url 'issues:update_contact_form_status' contact_form.id %}">
          {% csrf_token %}
          <select name="status">
            {% for status in contact_form.STATUS_CHOICES %}
              <option value="{{ status.0 }}" {% if contact_form.status == status.0 %}selected{% endif %}>{{ status.1 }}</option>
            {% endfor %}
          </select>
          <button class="btn btn-info btn-sm" type="submit">Update</button>
        </form>
      </td>
    </tr>
    <tr>
      <td>Created at:</td>
      <td>{{ contact_form.created_at }}</td>
    </tr>
  </tbody>
</table>

<a href="{% url 'issues:contact_form_list' %}" class="btn btn-primary">Back to Issues list</a>

{% endblock content %}
